# Pandas Series

In [1]:
import pandas as pd

In [2]:
# Create Series in Pandas

In [3]:
score = [45,55,34,60,70]

In [4]:
pd.Series(score)

0    45
1    55
2    34
3    60
4    70
dtype: int64

In [5]:
statement = [True,False,True,True,False]

In [6]:
pd.Series(statement)

0     True
1    False
2     True
3     True
4    False
dtype: bool

In [7]:
students = ['Mizan','Mamun','Mahfuz','Karim','Sohag']

In [8]:
pd.Series(students)

0     Mizan
1     Mamun
2    Mahfuz
3     Karim
4     Sohag
dtype: object

In [9]:
list = [True,False,'Mizan',12,14,54,60]

In [10]:
pd.Series(list)

0     True
1    False
2    Mizan
3       12
4       14
5       54
6       60
dtype: object

In [11]:
pd.Series(5, index=[0])

0    5
dtype: int64

In [12]:
pd.Series(5, index=[0,1,2,3,4,5])

0    5
1    5
2    5
3    5
4    5
5    5
dtype: int64

In [15]:
pd.Series([2 * num for num in range(10)])

0     0
1     2
2     4
3     6
4     8
5    10
6    12
7    14
8    16
9    18
dtype: int64

In [17]:
[2 * num for num in range(10)]

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [18]:
contacts = {
	'Mamun'   : '01916178600',
	'Mizan'   : '01916178400',
	'Mahfuz'  : '01916178200',
	'Morshed' : '01916178200',
	'Mahmood' : '01916178200'
}

In [21]:
pd.Series(contacts)

Mamun      01916178600
Mizan      01916178400
Mahfuz     01916178200
Morshed    01916178200
Mahmood    01916178200
dtype: object